<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      lang="en">
<div class="bd-example">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>enabled</th>
            <th>avatar</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<kim.kin.model.UserInfo>"*/-->
        <tr th:each="userInfo:${page}">
            <td th:text="${userInfo.id}"></td>
            <td th:text="${userInfo.username}"></td>
            <td th:text="${userInfo.enabled}"></td>
            <td th:text="${userInfo.avatar}"></td>
            <td th:text="${userInfo.email}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
        <ul th:if="${page.totalPages le 7}" data-am-widget="pagination" class="pagination" style="text-align: center">
            <li th:if="${page.number > 0}" class="page-item">
                <a th:href="@{?page={page}(page=${page.number})}" class="page-link">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                th:classappend="${(page.number + 1) eq i} ? 'page-item' : ''">
                <a th:href="@{?page={page}(page=${i})}" th:text="${i}" class="page-link">1</a>
            </li>
            <li th:unless="${page.number + 1 == page.totalPages}" class="page-item ">
                <a th:href="@{?page={page}(page=${page.number} + 2)}" class="page-link">Next</a>
            </li>
        </ul>

        <ul th:if="${page.totalPages gt 7}" data-am-widget="pagination" class="pagination"
            style="text-align: center">
            <!-- 上一页 -->
            <li th:classappend="*{page.first} ? 'disabled' : ''" th:if="${page.number > 0}" class="am-pagination-prev ">
                <a th:href="@{?page={page}(page=${page.number - 2})}">上一页</a>
            </li>
            <li class="am-pagination-first" th:classappend="${(page.number + 1) eq 1} ? 'am-active' : ''">
                <a th:href="@{?page.page=1}">1</a>
            </li>
            <!-- 当前页面小于等于4 -->
            <li th:if="${(page.number + 1) le 4}" th:each="i : ${#numbers.sequence(2,5)}"
                th:classappend="${(page.number + 1) eq i} ? 'am-active' : ''">
                <a th:href="@{?page={page}(page=${i})}">
                    <span th:text="${i}"></span>
                </a>
            </li>
            <li th:if="${(page.number + 1) le 4}">
                <a href="javascript:void(0);">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
            <!-- 最后一页与当前页面之差，小于等于3 -->
            <li th:if="${(page.totalPages-(page.number + 1)) le 3}">
                <a href="javascript:void(0);">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
            <li th:if="${(page.totalPages-(page.number + 1)) le 3}"
                th:each="i : ${#numbers.sequence(page.totalPages-4, page.totalPages-1)}"
                th:classappend="${(page.number + 1) eq i} ? 'am-active' : ''">
                <a th:href="@{?page={page}(page=${i})}">
                    <span th:text="${i}"></span>
                </a>
            </li>
            <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
            <li th:if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                <a href="javascript:void(0);">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
            <li th:if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}"
                th:classappend="${(page.number + 1) eq (page.number + 1)} ? 'am-active' : ''">
                <a th:href="@{?page={page}(page=${page.number+1})}" th:text="${page.number+1}">number</a>
            </li>
            <li th:if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                <a th:href="@{?page={page}(page=${page.number+2})}" th:text="${page.number+2}">number</a>
            </li>
            <li th:if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                <a th:href="@{?page={page}(page=${page.number+3})}" th:text="${page.number+3}">number</a>
            </li>
            <li th:if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                <a href="javascript:void(0);">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
            <!-- 最后一页 -->
            <li th:classappend="${(page.number + 1) eq page.totalPages} ? 'am-active' : ''">
                <a th:href="@{?page={page}(page=${page.totalPages})}" th:text="${page.totalPages}">endPage</a>
            </li>
            <!-- 下一页 -->
            <li th:classappend="*{page.last} ? 'disabled' : ''" th:unless="${page.number + 1 == page.totalPages}">
                <a th:href="@{?page={page}(page=${page.number+2})}">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<link data-th-src="@{css/bootstrap/cheatsheet.css}" type="text/css" rel="stylesheet"/>
<script data-th-src="@{js/bootstrap/cheatsheet.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>