<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      lang="en">
<div class="bd-example">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>enabled</th>
            <th>avatar</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="all" type="java.util.List<kim.kin.model.UserInfo>"*/-->
        <tr th:each="userInfo:${all}">
            <td th:text="${userInfo.id}"></td>
            <td th:text="${userInfo.username}"></td>
            <td th:text="${userInfo.enabled}"></td>
            <td th:text="${userInfo.avatar}"></td>
            <td th:text="${userInfo.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
<link data-th-src="@{css/bootstrap/cheatsheet.css}" type="text/css" rel="stylesheet"/>
<script data-th-src="@{js/bootstrap/cheatsheet.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>